.btn-primary {
    background-color: var(--main-yellow);
    padding: 16px 24px;

    border: 1.8px solid var(--header-main);
    border-radius: 50px;
    text-decoration: none;

    font-size: var(--fs-p);
    font-family: var(--ff-body);
    font-weight: 500;

    display: inline-block;
    transition: filter 0.3s ease, border 0.3s ease;
    cursor: pointer;
    white-space: nowrap;

    text-align: center;
}

nav .btn-primary:hover {
    box-shadow: 0 5px 0 0 var(--header-main);
}

.btn-primary:hover {
    filter: brightness(90%);
}

.package-actions .btn-primary {
    width: 100%;
}

.package-card .btn-primary {
    display: inline-block;
    margin-top: auto;
    transition: all 0.3s ease;
    cursor: pointer;
}

.package-card .btn-primary:hover {
    filter: brightness(90%);
}

#process .btn-primary {
    margin: 50px auto;
}

.nav-links-second .btn-secondary {
    position: relative;
    overflow: hidden;
    align-items: flex-start;
  
    background-color: var(--main-white);
    color: var(--header-main);
    
    padding: 16px 24px;
    border: 1.8px solid var(--header-main);
    border-radius: 50px;
    font-size: var(--fs-p);
    
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    margin: 0 !important;
}

.nav-links-second .btn-secondary:hover {
    box-shadow: 0 5px 0 0 var(--header-main);
    filter: brightness(95%);
}

.btn-tertiary {
    background: transparent;
    color: var(--header-main);
    font-size: var(--fs-p);
    font-family: var(--ff-body);

    text-decoration: none;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.btn-tertiary i {
    margin-left: 10px;
}

#process .container a.btn-primary {
    margin: 75px 0;
}

#final a.btn-primary {
    display: flex;
    max-width: fit-content;
    margin: 0 auto;
}

#mySidebar .btn-primary {
    width: 90% !important;
    margin: 0 auto;
}

button.togglebtn {
    font-size: var(--fs-p);
    cursor: pointer;

    background-color: var(--main-white);
    border: 1.8px solid var(--text-main);

    padding: 8px 8px;
    margin: 0;
    position: absolute;

    right: 20px;
    bottom: 20px;
    z-index: 1000;
    border-radius: 15px;

    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
}