.btn-primary {
    background-color: var(--main-yellow);
    padding: 16px 24px !important;

    border: 1.8px solid var(--header-main);
    border-radius: 50px;
    text-decoration: none;

    font-size: var(--fs-p);
    font-family: var(--ff-body);
    font-weight: 500;

    display: inline-block;
    transition: all 0.2s ease;
    cursor: pointer;
    white-space: nowrap;

    text-align: center;
}

nav .btn-primary:hover {
    box-shadow: 0 5px 0 0 var(--header-main);
}

.btn-primary:hover {
    filter: brightness(90%) !important;
}

.package-actions .btn-primary {
    width: 100%;
}

.package-card .btn-primary {
    display: inline-block;
    margin-top: auto;
    transition: all 0.3s ease;
    cursor: pointer;
}

.package-card .btn-primary:hover {
    filter: brightness(90%);
}

.nav-links-second .cta-two {
    position: relative;
    overflow: hidden;
    align-items: flex-start;
  
    background-color: var(--main-white);
    color: var(--header-main);
    
    padding: 16px 24px !important;
    border: 1.8px solid var(--header-main);
    border-radius: 50px;
    font-size: var(--fs-p);
    
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    margin: 0 !important;
}

.nav-links-second .cta-two:hover {
    box-shadow: 0 5px 0 0 var(--header-main);
    filter: brightness(95%);
}

.btn-secondary {
    background: transparent;
    color: var(--header-main);
    font-size: var(--fs-p);
    font-family: var(--ff-body);

    text-decoration: none;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.btn-secondary i {
    margin-left: 10px;
}

#final .btn-primary {
    display: flex !important;
    max-width: fit-content;
    margin: 0 auto !important;
}