@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("assets/fraunces-700.woff2") format('woff2');
}

@font-face {
    font-family: 'Fraunces-Two';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("assets/fraunces-regular.woff2") format('woff2');
}

@font-face {
    font-family: 'inter';
    font-style: normal;
    font-display: swap;
    src: url("assets/inter-regular.woff2") format('woff2');
}

.nav-spacer {
    display: none;
    padding: 80px 0;
    pointer-events: none;
}

nav {
    position: absolute;
    background-color: transparent;
    min-height: 14vh;
    height: 20vh;

    padding: 20px 40px 20px 40px;
    margin: 0 auto;
    justify-content: center !important;

    display: flex;
    align-items: center !important;
    box-sizing: border-box;
    width: 100%;

    z-index: 9999;
}

nav .logo img {
    max-width: 140px;
    margin: 0;
    padding: 0;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: var(--header-main);

    font-size: var(--fs-p);
    font-family: var(--ff-body);
    padding: 14px 16px;
    border-radius: 50px;

    position: relative;
    transition: all 0.3s ease;
    line-height: 1 !important;
    display: flex;
    align-items: center !important;
}

.nav-links a:not(.btn-primary):hover {
    background-color: #ececec;
}

.nav-links-first {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.nav-links-second {
    display: flex;
    gap: 1rem;
    margin-left: auto;
    margin-right: 3.25rem;
    align-items: center;
}

.openbtn {
    font-size: var(--fs-p);
    cursor: pointer;

    background-color: var(--main-white) !important;
    border: 1.8px solid var(--text-main);
    padding: 8px 18px;
    margin: 0 !important;
    position: fixed;
    right: 20px;
    z-index: 1000;
    border-radius: 15px;

    transition: all 0.3s ease;
    display: inline-flex !important;
    align-items: center !important;
}

.openbtn:hover {
    box-shadow: 0 5px 0 0 var(--text-main);
    filter: brightness(90%);
}
#mySidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100% !important;
    width: 350px;
    position: fixed;
    transform: translateX(100%);

    z-index: 10000;
    top: 0;
    right: 0;

    background-color: var(--main-white);
    border-left: 1px solid var(--text-main);

    overflow: hidden;
    transition: transform 0.6s ease;
    padding: 60px 0 30px 0;
}

#mySidebar .closebtn {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: transparent;
    border: 1.8px solid var(--header-main);

    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.closebtn:hover {
    background-color: #efefef;
    transform: scale(1.15) rotate(12deg);
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.sidebar-links h3 {
    font-size: var(--fs-p);
    font-family: var(--ff-body);
    color: #888;
    padding-left: 20px;
    margin: 0;
}

.sidebar-links a {
    font-size: var(--fs-h4);
    font-family: var(--ff-header-two);
    color: var(--text-main);

    text-decoration: none;
    transition: background-color 0.3s ease;
    padding: 10px 0 10px 20px;
}

.sidebar-links a:hover {
    background-color: #efefef;
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-footer .footer-logo img {
    max-width: 140px;
}

#sidebarOverlay {
    position: fixed;
    opacity: 0;

    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;

    z-index: 10000;
}

#mySidebar .btn-primary {
    width: 90%;
    margin: 0 auto;
}