
@media (max-width: 1323px) {
    #gallery .gallery-container {
        display: grid;
        grid-template-columns: 1fr !important;
        justify-items: center !important;
        align-items: center !important;
        width: 100% !important;
        height: auto !important;
        padding-top: 50px !important;
        margin: 0 auto !important;
        gap: 75px;
    }
    .gallery-item {
        scale: 1.15;
    }
}

@media (max-width: 1255px) {
    .package-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 90% !important;
    }
    .package-card:last-child {
        grid-column: 1 / -1;
        justify-self: center;
    }
    .package-card:nth-child(2) {
        transform: none;
    }
}

@media (max-width: 1078px) {
    .nav-links-first {
        display: none;
    }
    .package-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 90% !important;
        gap: 20px !important;
    }
    .package-card .btn-primary {
        width: 100%;
        margin-top: auto;
    }
    #about div.about-container {
        display: flex !important;
        flex-direction: column !important;
    }
    .about-image img {
        max-height: 480px !important;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }
    #gallery .gallery-container {
        display: flex !important;
        flex-direction: column !important;
        width: 100% !important;
        max-width: 100% !important;
        padding: 0 !important;
        margin: 0 auto !important;
    }
    .gallery-item img {
        width: 950px !important; 
        
        max-width: 100% !important; 
        
        height: auto !important;
        display: block !important;
        margin: 0 auto !important;
    }
    p {
        font-size: 1rem !important;
    }
    .project-image {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .project-image img {
        max-width: 100% !important;
        width: auto;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    #gallery .container {
        max-width: 80% !important;
    }
    #gallery p.lead {
        max-width: 100% !important;
    }
}

@media (max-width: 994px) {
    .summary-item {
        max-width: 200px;
    }
}

@media (max-width: 878px) {
    .dashboard #final {
        padding-bottom: 75px;
    }
    .dashboard #final .final-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .dashboard .final-links .final-card:last-child {
        grid-column: 1 / -1;
        justify-self: center;
    }
}

@media (max-width: 768px) {
    html body p, ul li {
        font-size: 1rem !important;
    }
    .nav-links-second {
        gap: 10px !important;
    }
    .cta-two {
        display: none;
    }
    .openbtn {
        padding: 6px 12px;
    }
    .package-container {
        display: flex !important;
        flex-direction: column !important;
    }
    .package-card {
        max-width: 100% !important;
    }
    .faq-section div.faq-card .faq-question {
        font-size: 1.1rem !important;
        max-width: none;
    }
    .faq-question::after {
        margin-left: 50px;
    }
    .popup-content {
        max-width: 90%;
        min-height: 350px;
    }
    .popup-content .btn-primary {
        padding: 16px 28px;
    }
    #gallery .gallery-item {
        width: 500px !important; 
    }
    footer.footer .container .footer-container {
        max-width: none !important;
        display: flex !important;
        flex-direction: column !important;
    }
    #summary {
        padding-bottom: 50px;
    }
    .dashboard .summary-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 50px 0;
        margin: 0 auto;
        justify-content: center;
    }
    .summary-item:last-child {
        grid-column: 1 / -1;
        justify-self: center;
    }
    .dashboard ul {
        gap: 75px;
    }
    .dashboard li {
        flex-direction: column !important;
    }
    .dashboard .goals {
        display: flex;
        flex-direction: column;
        margin: 75px auto 0 auto;
        gap: 50px;
    }
}

@media (max-width: 710px) {
    html body h2 {
        max-width: 550px !important;
        margin: 0 auto !important;
    }
    nav .cta {
        display: none !important;
    }
    .package-card h3 span {
        display: none;
    }
    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: flex;
    }
    #gallery .mobile-only {
        margin-bottom: 75px;
    }
    #packages ul li:first-child {
        display: none;
    }
    .faq-answer {
        max-width: 95% !important;
    }
    #gallery .gallery-item {
        width: 450px !important; 
    }
    #final h2 {
        font-size: 2.8rem !important;
    }
    .footer-bottom {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
        gap: 5px;
        padding-bottom: 40px;
    }
    .footer-bottom p {
        margin-bottom: 0;
    }
}

@media (max-width: 572px) {
    .dashboard .final-links {
        grid-template-columns: 1fr !important;
    }
}

@media (max-width: 526px) {
    #hero {
        padding-bottom: 75px;
    }
    .openbtn {
        padding: 8px 12px !important;
        font-size: 20px;
    }

    p.desktop-only {
        display: none;
    }
    #about .about-image {
        max-width: 80% !important;
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
    html body main #about .about-container .about-image img {
        max-height: 200px !important;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }
    .popup-content h3 {
        font-size: 2rem;
    }
    footer.footer .intro {
        max-width: 80%;
    }
    footer.footer .container .footer-container .footer-links {
        display: flex;
    }
    .footer-links h3 {
        font-size: 1.1rem;
    }
    .footer-links li a {
        font-size: 1rem !important;
    }
    .sidebar {
        max-width: 80% !important;
    }
    #gallery .gallery-item {
        width: 350px !important; 
    }
    body #gallery .gallery-item div.soon {
        font-size: 1.2rem !important;
    }
    h2 {
        font-size: 1.8rem !important;
    }
    .summary-row {
        display: flex !important;
        flex-direction: column !important;
    }
    .summary-item i:hover {
        transform: none;
    }
    .summary-item i:active {
        transform: scale(1.15) rotate(-30deg);
    }
    .more-text {
        display: none;
    }
    .read-more-label {
        display: block;
        color: #000;
        text-decoration: underline;
        font-weight: bold;
        cursor: pointer;
        margin-top: 5px;
    }
    .read-more-label::before {
        content: "Read more...";
    }
    #read-more-check:checked ~ .subtitle .more-text {
        display: inline;
    }
    #read-more-check:checked ~ .read-more-label::before {
        content: "Read less";
    }
    #read-more-check {
        display: none;
    }
    .dashboard ul li b {
        white-space: normal;
    }
}

@media (max-width: 451px) {
    .nav-links-second {
        display: none;
    }
    #gallery .gallery-item {
        width: 300px !important; 
    }
    html body footer.footer .container .footer-container .footer-links {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
        text-align: center;
        gap: 75px;
    }
}

@media (max-width: 399px) {
    .package-container .package-card:last-child {
        padding-bottom: 20px !important;
    }
}

@media (hover: hover) {
    .package-card:hover {
        transform: translateY(-10px);
    }
    .package-card:active {
        transform: translateY(-10px);
    }
    .about-image img:hover {
        transform: scale(1.05);
    }
    .about-image img:active {
        transform: scale(1.05);
    }
    .faq-card:hover {
        background-color: #efefef;
    }
    .faq-card:active {
        background-color: #efefef;
    }
    .footer-col ul li a:hover {
        color: var(--main-white);
    }
    .footer-col ul li a:active {
        color: var(--main-white);
    }
}