html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

:root {
    --main-yellow: #faef1a;
    --main-white: #faf8f8;
    --off-white: #f5f0f0;
    --text-main: #333;
}

#hero, section {
    min-height: 100vh;
    width: 100%;

    background-color: var(--main-white);
    margin: 0;
    padding: 0;
}

#hero {
    padding-left: 40px;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}

h1 {
    font-size: clamp(2.4rem, 6vw, 3.5rem);
    font-family: 'fraunces', serif;
    font-weight: bold;
    color: var(--text-main);
    max-width: clamp(0, 90vw, 90%);
    margin: 0;
}

#hero p {
    margin-bottom: 50px;
}

p, li, li a {
    font-size: clamp(0.9rem, 4vw, 1.1rem);
    font-family: 'inter', sans-serif;
    color: var(--text-main);
    max-width: 750px;
}

h2 {
    font-size: clamp(2rem, 4vw, 2.4rem);
    font-family: 'fraunces', serif;
    font-weight: bold;
    color: var(--text-main);
    text-align: center;
    padding: 75px 0;
    margin: 0 auto;
}

h3 {
    font-size: clamp(1.6rem, 4vw, 1.8rem);
    font-family: 'fraunces', serif;
    color: var(--text-main);
}

.dev-profile, .process-container, .package-container, .faq-container, .footer-container, .legal-container, .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
}

.mobile-only {
    display: none;
}

#packages {
    display: flex;
    flex-direction: column;
    scroll-margin-top: -40px;
    background-color: var(--off-white);
}

.package-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    align-items: stretch;
    gap: 24px;

    max-width: 90%;
    margin: 0 auto;
}

.package-container .package-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Pushes the buttons to the very bottom uniformly */
  height: 100%; /* Forces card to fill the grid container height */
  
  overflow: hidden;
  padding: 20px 40px;
  transition: all 0.3s ease;
  border-radius: 14px;
  border: 3px solid var(--text-main);
  box-shadow: 5px 10px 24px rgba(0, 0, 0, 0.2);
  background-color: var(--main-white) !important;
}

.package-card .number {
    font-size: 0.8rem;
    font-family: 'inter', sans-serif;
    opacity: 0.6;
}

.package-card h3 {
    font-family: 'fraunces', serif;
    margin: 0 0 20px 0;
}

.package-card h3 span {
    display: none;
}

.package-card ul {
    display: flex;
    flex-direction: column;
    gap: 20px !important;
    margin: 0;
    padding: 0 0 20px 20px;
}

.package-card ul li {
    margin: 0;
    padding: 0;
    list-style-type: disc;
    line-height: 1.5;
}

.package-card ul li:first-child {
    list-style: none;
}

#process {
    background-color: var(--main-white);
    padding-bottom: 75px;
}

#process h2 {
    padding-top: 75px;
}

.process-container {
    gap: 90px !important;
}

.process-card {
    max-width: 850px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    border-bottom: 1.8px solid var(--text-main);
}

.process-card:nth-child(odd) {
    margin-right: auto;
}

.process-card:nth-child(2) {
    margin-left: auto !important;
    justify-content: flex-end !important;
}

.process-card h3 {
    font-size: 1.4rem;
    font-family: 'fraunces', sans-serif;
    color: var(--text-main);
    margin: 0;
}

.process-card h3 span {
    font-weight: bold;
}

.process-card p {
    font-size: 1rem;
    font-family: 'inter', sans-serif;
    color: var(--text-main);
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 80vh;
    background-color: var(--off-white);
}

#about .dev-profile {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;            
    max-width: 98%;              
    margin: 0 auto;
    gap: 50px;
}

.dev-profile .about-text {                 
    text-align: left;
}

.about-text h3 {
    margin: 0;
}

.about-text p a {
    color: var(--main-yellow);
    filter: brightness(90%);
    text-decoration: none;
}

.dev-profile .about-image {
    display: flex;
    justify-content: center;
}

.dev-profile .about-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--text-main);
    transition: all 0.3s ease;
}

.faq-container {
    gap: 0;
}

.faq-card {
  border-bottom: 1px solid #eee;
  border-radius: 7px;
  transition: all 0.3s ease;
  padding: 10px 0 10px 20px;
}

.faq-card:hover {
    background-color: #efefef;
}

.faq-card:hover .faq-question::after {
    background-color: var(--main-yellow);
    filter: brightness(110%) !important;
}

.faq-card.active {
    background-color: #efefef;
}

.faq-question {
  width: 100%;
  padding: 20px 0;
  background: none;
  border: none;
  outline: none;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.faq-question::after {
  content: '+';
  font-size: 1.5rem;
  background-color: var(--main-yellow);
  border-radius: 50px;
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-right: 50px;

  color: var(--text-main);
  transition: all 0.3s ease;
}

.faq-card.active .faq-question::after {
  transform: rotate(45deg);
}

.faq-card.active:last-child {
    margin-bottom: 75px;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.faq-answer p {
  padding-bottom: 20px;
  color: var(--text-main);
  line-height: 1.6;
}

.legal-page p {
    max-width: 80% !important;
}

.legal-page ul.legal-points {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 75px;
}

.legal-points li {
    font-size: 1rem;
    font-family: 'inter', sans-serif;
}

footer {
    min-height: 400px;
    background-color: #1a1919;
    padding: 60px 0 10px 0;
}

footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .intro {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    gap: 10px;
}

footer .intro h2 {
    font-size: clamp(1.8rem, 6vw, 2.2rem);
    font-family: 'fraunces', serif;
    color: var(--main-white);
    
    margin: 0;
    padding: 0;
    text-align: left;
} 

footer .intro h2 span {
    color: var(--main-yellow);
}

footer .intro p {
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    font-family: 'inter', sans-serif;
    color: var(--main-white);
    margin: 0;
    padding: 0;
}

footer .footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-container .footer-links {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.footer-links .footer-col {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.footer-col h3 {
    font-size: clamp(1.2rem, 2vw, 1.4rem) !important;
    font-family: 'fraunces', serif;
    color: var(--main-yellow);

    margin: 0 0 10px 0;
    padding: 0;
}

.footer-col ul {
    display: flex;
    flex-direction: column;

    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-col ul li a {
    font-size: clamp(0.9rem, 4vw, 1rem);
    font-family: 'inter', sans-serif;
    color: #aeaeae;

    margin: 0;
    transition: all 0.3s ease;
    text-decoration: none;
    white-space: nowrap;
}

.footer-col ul li a:hover {
    color: var(--main-white);
}

footer .footer-bottom {
    margin: 0;
    padding: 13px 0;
    width: 80%;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;

    border-top: 1px solid #4e4e4e;
}

.footer-bottom p {
    font-size: 0.9rem;
    font-family: 'inter', sans-serif;
    color: #676767;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none; 
    transition: opacity 0.4s ease, visibility 0.4s;
}

.popup-overlay.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.popup-content {
    background: white;
    padding: 40px;
    border-radius: 15px;
    transform: translateY(20px) scale(0.95); 
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    max-width: 90%;
}

.popup-overlay.active .popup-content {
    transform: translateY(0) scale(1);
}

.popup-content h3 {
    font-size: 2.4rem;
    margin-bottom: 15px;
    color: var(--text-main);
    font-weight: 700;
}

.popup-content h4 {
    font-size: clamp(1rem, 2vw, 1.1rem);
    font-family: 'fraunces', serif;
    color: var(--text-main);
    margin: 0;
}

.popup-content p {
    font-size: 1rem;
    font-family: 'inter', sans-serif;
}

#quote-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.quote-first, .quote-second {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.quote-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.quote-second .quote-group:first-child {
    display: flex;
    flex-direction: row !important;
}

input[type="text"],
input[type="email"] {
    width: 70%;
    padding: 6px 8px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-family: 'inter', sans-serif;
    font-size: 1rem;
}

.popup-content select[name="project_goal"],
.popup-content select[name="project_budget"] {
    width: 50% !important;
    padding: 6px 6px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #404040;
    font-family: 'inter', sans-serif;
    font-size: clamp(0.9rem, 2vw, 1rem);

    display: flex;
    flex-direction: row !important;
}

.popup-content input:focus {
    outline: none;
    border-color: #f1f10e;
    background-color: #fff;
}

.popup-content button.close-btn {
    background-color: var(--main-yellow);
    box-shadow: 5px 10px 20px rgba(0,0,0,0.1);
    border-radius: 50px;
    border: none;
    font-size: 24px;
    padding: 8px 16px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.popup-content button.close-btn:hover {
    transform: scale(1.15) rotate(-32deg);
    filter: brightness(90%);
}